html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* header styles */

.container1 {
    /* height: 420px; */
    display: flex;
    background-color: #161616;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 30px;
}

.white {
    color: white;
}

.half {
    width: 50%;
    padding: 0 70px;
}

#great {
    margin-top: 70px;
    font-size: 40px;
}

#btn {
    border: none;
    color: white;
    background-color: #DD0000;
    padding: 12px 15px;
    margin-top: 30px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: transform 0.5s;
}

#btn:hover {
    transform: translateX(15px);
}

.container1 .half img {
    width: 100%;
    padding-top: 10px;
    margin-top: 20px;
}

/* grid section  */


.sec1 {
    margin-top: 100px;
}

.container2 {
    margin-left: 100px;
    margin-right: 100px;
}

.btn {
    background-color: #161616;
    width: 300px;
    height: 200px;
}

.buttons {}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
}

.btn1 {
    width: 160px;
    height: 40px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: white;
    margin: 10px 0;
    border-radius: 5px;
}

.btn1 a {
    text-decoration: none;
    color: black;
}

#red {
    background-color: #DD0000;
}

#red a {
    color: white;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    padding-left: 10px;
    gap: 25px;
}

.blog {
    border: 1px solid rgba(128, 128, 128, 0.534);
    border-radius: 7px;
    padding: 10px 15px;
}

.blogs .blog .blog-img img {
    width: 100%;
    border-radius: 10px;
}

.btn2 {
    margin-top: 10px;
    padding: 3px 14px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.blog-para {
    font-weight: 600;
}

.blog-icons {
    color: grey;
}

.container2 {
    display: flex;
}


/* footer here  */
footer {
    background-color: #161616;
    margin-top: 100px;
    padding-bottom: 30px;
}

.settings {
    display: flex;
    justify-content: center;
}

.setting {
    margin: 0 25px;
    font-weight: 500;
    font-size: 14px;
}

.goal {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

hr {
    width: 1000px;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.295);
    border: none;
    margin-bottom: 50px;
}

.fa-brands {
    color: white;
    margin: 20px 10px;
}

.end-icons {
    text-align: center;
}

/* media query  */
@media only screen and (max-width:688px) {
    .container1 {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 0px;
    }

    span {
        display: none;
    }

    #great {
        text-align: center;
    }

    .pra {
        text-align: center;
    }

    #btn {
        margin-left: 5px;
        padding: 10px 30px;
        font-size: 14px;
        border-radius: 0px;
    }

    .container1 .half img {
        width: 120%;
    }

    .container2 {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 20px;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .btn {
        margin-bottom: 40px;
        margin-left: 30px;
        background-color: white;
    }

    .settings {
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        font-family: 'Poppins', sans-serif;
    }

    hr {
        display: none;
    }
}